*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothings:grayscale;
    -moz-font-smoothings:antialiased;
}

:root{
    font-size: 62.5%;

    --color-txt-:#343232;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body{
    font-size: 1.6rem;
}

body *{
    font-family: 'Poppins' , sans-serif;
    color: var(--color-txt-);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#app{
    max-width: 500px;
    margin: 0 auto;

    padding: 2rem;
}

